<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyz.staticsystem.staticAnalysis.dao.AnalysisMapper">
	<resultMap id="StoreActiveAnalysisResultMap" type="com.cyz.staticsystem.staticAnalysis.model.StoreActiveAnalysis">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="orderNo" property="orderNo" jdbcType="VARCHAR" />
		<result column="platformType" property="platformType" jdbcType="VARCHAR" />
		<result column="storeId" property="storeId" jdbcType="VARCHAR" />
		<result column="storeName" property="storeName" jdbcType="VARCHAR" />
		<result column="storeArea" property="storeArea" jdbcType="VARCHAR" />
		<result column="searchTime" property="searchTime" jdbcType="VARCHAR" />
		<result column="activityType" property="activityType" jdbcType="VARCHAR" />
		<result column="activityName" property="activityName" jdbcType="VARCHAR" />
		<result column="productName" property="productName" jdbcType="VARCHAR" />
		<result column="platformAllowance" property="platformAllowance" jdbcType="VARCHAR" />
		<result column="activityIntensity" property="activityIntensity" jdbcType="VARCHAR" />
		<result column="activityCycle" property="activityCycle" jdbcType="VARCHAR" />
		<result column="activityTotalCost" property="activityTotalCost" jdbcType="VARCHAR" />
		<result column="activityTotalProfit" property="activityTotalProfit" jdbcType="VARCHAR" />
		<result column="profitPercent" property="profitPercent" jdbcType="VARCHAR" />
		<result column="enterRateInActivity" property="enterRateInActivity" jdbcType="VARCHAR" />
		<result column="conversionRateInActivity" property="conversionRateInActivity" jdbcType="VARCHAR" />
		<result column="tradeAmountIncrementPercent" property="tradeAmountIncrementPercent" jdbcType="VARCHAR" />
		<result column="orderAmountIncrementPercent" property="orderAmountIncrementPercent" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="BidStaticAnalysisResultMap" type="com.cyz.staticsystem.staticAnalysis.model.BidStaticAnalysis">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="storeName" property="storeName" jdbcType="VARCHAR" />
		<result column="storeArea" property="storeArea" jdbcType="VARCHAR" />
		<result column="bidTime" property="bidTime" jdbcType="VARCHAR" />
		<result column="searchTime" property="searchTime" jdbcType="VARCHAR" />
		<result column="bidCycle" property="bidCycle" jdbcType="VARCHAR" />
		<result column="bidTotalAmountInWeek" property="bidTotalAmountInWeek" jdbcType="VARCHAR" />
		<result column="averageClickCost" property="averageClickCost" jdbcType="VARCHAR" />
		<result column="bidActivityIntensity" property="bidActivityIntensity" jdbcType="VARCHAR" />
		<result column="exposureIncrementPercent" property="exposureIncrementPercent" jdbcType="VARCHAR" />
		<result column="enterRateIncrementPercent" property="enterRateIncrementPercent" jdbcType="VARCHAR" />
		<result column="transformIncrementPercent" property="transformIncrementPercent" jdbcType="VARCHAR" />
		<result column="tradeAmountIncrementPercent" property="tradeAmountIncrementPercent" jdbcType="VARCHAR" />
		<result column="rankBeforeBid" property="rankBeforeBid" jdbcType="VARCHAR" />
		<result column="rankAfterBid" property="rankAfterBid" jdbcType="VARCHAR" />
		<result column="contributionInBid" property="contributionInBid" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="DemandAnalysisBaseResultMap" type="com.cyz.staticsystem.staticAnalysis.model.DemandAnalysis">
		<result column="searchTime" property="searchTime" jdbcType="VARCHAR" />
		<result column="storeArea" property="storeArea" jdbcType="VARCHAR" />
		<result column="customName" property="customName" jdbcType="VARCHAR" />
		<result column="customOrdAddr" property="customOrdAddr" jdbcType="VARCHAR" />
		<result column="customTel" property="customTel" jdbcType="VARCHAR" />
		<result column="mostBrowseMerchantName" property="mostBrowseMerchantName" jdbcType="VARCHAR" />
		<result column="mostBrowseMerchantType" property="mostBrowseMerchantType" jdbcType="VARCHAR" />
		<result column="averageCost" property="averageCost" jdbcType="VARCHAR" />
		<result column="favoriteDishesName" property="favoriteDishesName" jdbcType="VARCHAR" />
		<result column="favoriteDishesCost" property="favoriteDishesCost" jdbcType="VARCHAR" />
		<result column="platformType" property="platformType" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="StoreActiveAnalysis_Column_List">
	 	id,
	 	orderNo,
	 	platformType,
	 	storeId,
	 	storeName,
		storeArea,
		searchTime,
		activityType,
		activityName,
		productName,
		platformAllowance,
		activityIntensity,
		activityCycle,
		activityTotalCost,
		activityTotalProfit,
		profitPercent,
		enterRateInActivity,
		conversionRateInActivity,
		tradeAmountIncrementPercent,
		orderAmountIncrementPercent
	</sql>
	<sql id="DemandAnalysis_Column_List">
	 	searchTime,
		storeArea,
		customName,
		customOrdAddr,
		customTel,
		mostBrowseMerchantName,
		mostBrowseMerchantType,
		averageCost,
		favoriteDishesName,
		favoriteDishesCost,
		platformType
	</sql>
	<sql id="BidStaticAnalysis_Column_List">
		id,
	 	storeName,
		storeArea,
		bidTime,
		searchTime,
		bidCycle,
		bidTotalAmountInWeek,
		averageClickCost,
		bidActivityIntensity,
		exposureIncrementPercent,
		enterRateIncrementPercent,
		transformIncrementPercent,
		tradeAmountIncrementPercent,
		rankBeforeBid,
		rankAfterBid,
		contributionInBid
	</sql>
	<!--精准客户需求分析  -->
	<select id="demandAnalysis" resultMap="DemandAnalysisBaseResultMap" parameterType="com.cyz.staticsystem.staticAnalysis.model.DemandAnalysis">
		SELECT
			 aod.order_time AS searchTime,
			 s.business_area AS storeArea,
			 aod.consignee_name AS customName,
			 aod.target_addr AS customOrdAddr,
			 aod.consignee_phones AS customTel,
			 aod.store_name AS mostBrowseMerchantName,
			 c.CATEGORY_NAME AS mostBrowseMerchantType,
			 aod.settlement_amount AS averageCost,
			 replace(aod.goods_name,',','、') AS favoriteDishesName,
 			 replace(aod.goods_price,',','、') AS favoriteDishesCost,
			 aod.platform_type AS platformType
		FROM
			`account_order_detail_foropera` as aod 
		LEFT JOIN dn_store as s on s.elm_id = aod.store_ELM_id or s.meituan_id = aod.store_MT_id or s.baidu_id = aod.store_BD_id
		LEFT JOIN dn_brand as b on s.BRAND_ID = b.BRAND_ID 
		LEFT join dn_category as c on c.CATEGORY_ID = b.CATEGORY_ID
		where 1=1
		<if test="null != propsMap.startDate and propsMap.startDate != ''">
			<![CDATA[
				and DATE_FORMAT(aod.order_time,'%Y-%c-%d') >= DATE_FORMAT(#{propsMap.startDate,jdbcType=DATE},'%Y-%c-%d')
			]]>
		</if>
		<if test="null != propsMap.endDate and propsMap.endDate != ''">
			<![CDATA[
				and DATE_FORMAT(aod.order_time,'%Y-%c-%d') <= DATE_FORMAT(#{propsMap.endDate,jdbcType=DATE},'%Y-%c-%d')
			]]>
		</if> 
		<if test="storeArea != null and '' != storeArea">  
			and s.business_area = #{storeArea,jdbcType=VARCHAR}
		</if>
		<if test="customName != null and '' != customName">  
			and aod.customName = #{customName,jdbcType=VARCHAR}
		</if>
		<if test="customOrdAddr != null and '' != customOrdAddr">  
			and aod.customOrdAddr = #{customOrdAddr,jdbcType=VARCHAR}
		</if>
		<if test="customTel != null and '' != customTel">  
			and aod.customTel = #{customTel,jdbcType=VARCHAR}
		</if>
		<if test="storeId != null and '' != storeId">  
			and (aod.store_id = #{storeELMId,jdbcType=VARCHAR} or aod.store_id = #{storeMTId,jdbcType=VARCHAR} or aod.store_id = #{storeBDId,jdbcType=VARCHAR} )
		</if>
		<if test="mostBrowseMerchantType != null and '' != mostBrowseMerchantType">  
			and c.CATEGORY_ID = #{mostBrowseMerchantType,jdbcType=VARCHAR}
		</if>
		<if test="platformType != null and '' != platformType">  
			and aod.platformType = #{platformType,jdbcType=VARCHAR}
		</if>
		<if test="favoriteDishesName != null and '' != favoriteDishesName">  
			and aod.goods_name like CONCAT('%',#{favoriteDishesName,jdbcType=VARCHAR},'%') 
		</if>
		GROUP BY
			consignee_phones,
			order_no
		<if test="orderFields != null and '' != orderFields">  
         	order by ${orderFields} ${order}
       	</if>
	</select>
	<!--竞价分析  -->
	<select id="bidStaticAnalysis" resultMap="BidStaticAnalysisResultMap" parameterType="com.cyz.staticsystem.staticAnalysis.model.BidStaticAnalysis">
		select
		<include refid="BidStaticAnalysis_Column_List" />
		from analysis_bid
		where 1=1
		<if test="id != null and '' != id">  
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="storeName != null and '' != storeName">  
			and storeName = #{storeName,jdbcType=VARCHAR}
		</if>
		<if test="storeArea != null and '' != storeArea">  
			and storeArea = #{storeArea,jdbcType=VARCHAR}
		</if>
		<if test="bidTime != null and '' != bidTime">  
			and bidTime = #{bidTime,jdbcType=VARCHAR}
		</if>
		<if test="searchTime != null and '' != searchTime">  
			and searchTime = #{searchTime,jdbcType=VARCHAR}
		</if>
		<if test="bidCycle != null and '' != bidCycle">  
			and bidCycle = #{bidCycle,jdbcType=VARCHAR}
		</if>
		<if test="bidTotalAmountInWeek != null and '' != bidTotalAmountInWeek">  
			and bidTotalAmountInWeek = #{bidTotalAmountInWeek,jdbcType=VARCHAR}
		</if>
		<if test="averageClickCost != null and '' != averageClickCost">  
			and averageClickCost = #{averageClickCost,jdbcType=DECIMAL}
		</if>
		<if test="bidActivityIntensity != null and '' != bidActivityIntensity">  
			and bidActivityIntensity = #{bidActivityIntensity,jdbcType=VARCHAR}
		</if>
		<if test="exposureIncrementPercent != null and '' != exposureIncrementPercent">  
			and exposureIncrementPercent = #{exposureIncrementPercent,jdbcType=VARCHAR}
		</if>
		<if test="enterRateIncrementPercent != null and '' != enterRateIncrementPercent">  
			and enterRateIncrementPercent = #{enterRateIncrementPercent,jdbcType=VARCHAR}
		</if>
		<if test="tradeAmountIncrementPercent != null and '' != tradeAmountIncrementPercent">  
			and tradeAmountIncrementPercent = #{tradeAmountIncrementPercent,jdbcType=VARCHAR}
		</if>
		<if test="rankBeforeBid != null and '' != rankBeforeBid">  
			and rankBeforeBid = #{rankBeforeBid,jdbcType=VARCHAR}
		</if>
		<if test="rankAfterBid != null and '' != rankAfterBid">  
			and rankAfterBid = #{rankAfterBid,jdbcType=VARCHAR}
		</if>
		<if test="contributionInBid != null and '' != contributionInBid">  
			and contributionInBid = #{contributionInBid,jdbcType=VARCHAR}
		</if>
		<if test="orderFields != null and '' != orderFields">  
         	order by ${orderFields} ${order}
       	</if>
	</select>
	<!--店铺活动分析 -->
	<select id="storeActiveAnalysis" resultMap="StoreActiveAnalysisResultMap" parameterType="com.cyz.staticsystem.staticAnalysis.model.StoreActiveAnalysis">
		SELECT
			asa.storeName as storeName,
			s.business_area as storeArea,
			DATE_FORMAT(asa.searchTime,'%Y-%m-%d') as searchTime,
			asa.activityType,
			asa.activityName,
			asa.platformType,
			asa.activityIntensity,
			asa.activityCycle,	
			asa.activityTotalCost,
			asa.activityTotalProfit,
			asa.profitPercent,
			asa.enterRateInActivity,
			asa.conversionRateInActivity,
			asa.tradeAmountIncrementPercent,
			asa.orderAmountIncrementPercent
		FROM
			`analysis_storeactive` AS asa
		LEFT JOIN dn_store AS s ON s.elm_id = asa.storeId OR s.meituan_id = asa.storeId OR s.baidu_id = asa.storeId
		where 1=1
		<if test="id != null and '' != id">  
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="storeId != null and '' != storeId">  
			and (asa.storeId = #{storeELMId,jdbcType=VARCHAR} or asa.storeId = #{storeMTId,jdbcType=VARCHAR} or asa.storeId = #{storeBDId,jdbcType=VARCHAR} )
		</if>
		<if test="storeArea != null and '' != storeArea">  
			and storeArea = #{storeArea,jdbcType=VARCHAR}
		</if>
		<if test="null != propsMap.startDate and propsMap.startDate != ''">
			<![CDATA[
				and DATE_FORMAT(asa.searchTime,'%Y-%c-%d') >= DATE_FORMAT(#{propsMap.startDate,jdbcType=DATE},'%Y-%c-%d')
			]]>
		</if>
		<if test="null != propsMap.endDate and propsMap.endDate != ''">
			<![CDATA[
				and DATE_FORMAT(asa.searchTime,'%Y-%c-%d') <= DATE_FORMAT(#{propsMap.endDate,jdbcType=DATE},'%Y-%c-%d')
			]]>
		</if> 
		<if test="activityType != null and '' != activityType">  
			and activityType = #{activityType,jdbcType=VARCHAR}
		</if>
		<if test="activityName != null and '' != activityName">  
			and activityName = #{activityName,jdbcType=VARCHAR}
		</if>
		<if test="platformAllowance != null and '' != platformAllowance">  
			and platformAllowance = #{platformAllowance,jdbcType=VARCHAR}
		</if>
		<if test="activityIntensity != null and '' != activityIntensity">  
			and activityIntensity = #{activityIntensity,jdbcType=VARCHAR}
		</if>
		<if test="activityCycle != null and '' != activityCycle">  
			and activityCycle = #{activityCycle,jdbcType=VARCHAR}
		</if>
		<if test="activityTotalCost != null and '' != activityTotalCost">  
			and activityTotalCost = #{activityTotalCost,jdbcType=DECIMAL}
		</if>
		<if test="activityTotalProfit != null and '' != activityTotalProfit">  
			and activityTotalProfit = #{activityTotalProfit,jdbcType=VARCHAR}
		</if>
		<if test="profitPercent != null and '' != profitPercent">  
			and profitPercent = #{profitPercent,jdbcType=VARCHAR}
		</if>
		<if test="enterRateInActivity != null and '' != enterRateInActivity">  
			and enterRateInActivity = #{enterRateInActivity,jdbcType=VARCHAR}
		</if>
		<if test="conversionRateInActivity != null and '' != conversionRateInActivity">  
			and conversionRateInActivity = #{conversionRateInActivity,jdbcType=VARCHAR}
		</if>
		<if test="tradeAmountIncrementPercent != null and '' != tradeAmountIncrementPercent">  
			and tradeAmountIncrementPercent = #{tradeAmountIncrementPercent,jdbcType=VARCHAR}
		</if>
		<if test="orderAmountIncrementPercent != null and '' != orderAmountIncrementPercent">  
			and orderAmountIncrementPercent = #{orderAmountIncrementPercent,jdbcType=VARCHAR}
		</if>
		<!-- GROUP BY activityName,DATE_FORMAT(asa.searchTime,'%Y-%m-%d')-->
		<if test="orderFields != null and '' != orderFields">  
         	order by ${orderFields} ${order}
       	</if>
	</select>
	
	
	<!--批量插入竞价  -->
	<insert id="addbidAnalysis" parameterType="java.util.List">
		insert into analysis_bid (
				id
			 	,storeName
				,storeArea
				,bidTime
				,bidCycle
				,bidTotalAmountInWeek
				,averageClickCost
				,bidActivityIntensity
				,exposureIncrementPercent
				,enterRateIncrementPercent
				,tradeAmountIncrementPercent
				,rankBeforeBid
				,rankAfterBid
				,contributionInBid
		)values
		<foreach collection="list" item="item" index="index" separator="," >
		 (
			 #{item.id,jdbcType=VARCHAR}
			,#{item.storeName,jdbcType=VARCHAR}
			,#{item.storeArea,jdbcType=VARCHAR}
			,#{item.bidTime,jdbcType=VARCHAR}
			,#{item.bidCycle,jdbcType=VARCHAR}
			,#{item.bidTotalAmountInWeek,jdbcType=VARCHAR}
			,#{item.averageClickCost,jdbcType=VARCHAR}
			,#{item.bidActivityIntensity,jdbcType=VARCHAR}
			,#{item.exposureIncrementPercent,jdbcType=VARCHAR}
			,#{item.enterRateIncrementPercent,jdbcType=VARCHAR}
			,#{item.tradeAmountIncrementPercent,jdbcType=VARCHAR}
			,#{item.rankBeforeBid,jdbcType=VARCHAR}
			,#{item.rankAfterBid,jdbcType=VARCHAR}
			,#{item.contributionInBid,jdbcType=VARCHAR} 
		)
		</foreach>
	
	</insert>
	<!--批量插入店铺活动  -->
	<insert id="addactiveAnalysis" parameterType="java.util.List">
		insert into analysis_storeactive(
				id
			 	,storeName
				,storeArea
				,activityType
				,activityName
				,platformAllowance
				,activityIntensity
				,activityCycle
				,activityTotalCost
				,activityTotalProfit
				,profitPercent
				,enterRateInActivity
				,conversionRateInActivity
				,tradeAmountIncrementPercent
				,orderAmountIncrementPercent
		)values
		 <foreach collection="list" item="item" index="index" separator="," >
		(
			#{item.id,jdbcType=VARCHAR}
			,#{item.storeName,jdbcType=VARCHAR}
			,#{item.storeArea,jdbcType=VARCHAR}
			,#{item.activityType,jdbcType=VARCHAR}
			,#{item.activityName,jdbcType=VARCHAR}
			,#{item.platformAllowance,jdbcType=VARCHAR}
			,#{item.activityIntensity,jdbcType=VARCHAR}
			,#{item.activityCycle,jdbcType=DECIMAL}
			,#{item.activityTotalCost,jdbcType=VARCHAR}
			,#{item.activityTotalProfit,jdbcType=VARCHAR}
			,#{item.profitPercent,jdbcType=VARCHAR}
			,#{item.enterRateInActivity,jdbcType=VARCHAR}
			,#{item.conversionRateInActivity,jdbcType=VARCHAR}
			,#{item.tradeAmountIncrementPercent,jdbcType=VARCHAR}
			,#{item.orderAmountIncrementPercent,jdbcType=VARCHAR}
		)
		</foreach>
	</insert>
	
	<!--更新一条店铺活动数据 -->	
	<update id="updateStoreActiveAnalysis" parameterType="com.cyz.staticsystem.staticAnalysis.model.StoreActiveAnalysis">
		update analysis_storeactive  set
		id= #{id,jdbcType=VARCHAR}
		<if test="activityType != null and '' != activityType">  
			,activityType = #{activityType,jdbcType=VARCHAR}
		</if>
		<if test="activityName != null and '' != activityName">  
			,activityName = #{activityName,jdbcType=VARCHAR}
		</if>
		<if test="platformAllowance != null and '' != platformAllowance">  
			,platformAllowance = #{platformAllowance,jdbcType=VARCHAR}
		</if>
		<if test="activityIntensity != null and '' != activityIntensity">  
			,activityIntensity = #{activityIntensity,jdbcType=VARCHAR}
		</if>
		<if test="activityCycle != null and '' != activityCycle">  
			,activityCycle = #{activityCycle,jdbcType=VARCHAR}
		</if>
		<if test="activityTotalCost != null and '' != activityTotalCost">  
			,activityTotalCost = #{activityTotalCost,jdbcType=DECIMAL}
		</if>
		<if test="activityTotalProfit != null and '' != activityTotalProfit">  
			,activityTotalProfit = #{activityTotalProfit,jdbcType=VARCHAR}
		</if>
		<if test="profitPercent != null and '' != profitPercent">  
			,profitPercent = #{profitPercent,jdbcType=VARCHAR}
		</if>
		<if test="enterRateInActivity != null and '' != enterRateInActivity">  
			,enterRateInActivity = #{enterRateInActivity,jdbcType=VARCHAR}
		</if>
		<if test="conversionRateInActivity != null and '' != conversionRateInActivity">  
			,conversionRateInActivity = #{conversionRateInActivity,jdbcType=VARCHAR}
		</if>
		<if test="tradeAmountIncrementPercent != null and '' != tradeAmountIncrementPercent">  
			,tradeAmountIncrementPercent = #{tradeAmountIncrementPercent,jdbcType=VARCHAR}
		</if>
		<if test="orderAmountIncrementPercent != null and '' != orderAmountIncrementPercent">  
			,orderAmountIncrementPercent = #{orderAmountIncrementPercent,jdbcType=VARCHAR}
		</if>
		where id = #{id,jdbcType=VARCHAR}
	</update>

</mapper>
